.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  font-size: 0.85rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  color: #e5e5e5;
  position: fixed;
  z-index: 1;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navbar-left ul li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}
.profile {
  width: 25px;
  border-radius: 4px;
}
.navbar-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.navbar-profile .dropdown {
  position: absolute;
  top: 100%;
  width: max-content;
  right: 0;
  background: #191919;
  padding: 0.75rem 0.95rem;
  z-index: 2;
  display: none;
}

.navbar-profile .dropdown p {
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
}
.navbar-profile:hover .dropdown {
  display: block;
}
